{# =================================
    制作物
==================================== #}
{% extends 'template/base/base.twig' %}
{% set title='制作物' %}
{% set description='Daichi Sugiyamaの制作物をまとめています。' %}
{% set keywords='Daichi Sugiyama,杉山大知,楽曲一覧,Music,Works,制作物' %}
{% set menu_id='works' %}
{% block head %}
{{parent()}}
<link rel="stylesheet" type="text/css" href="/css/works/style.min.css?{{siteinfo.version}}">
<script src="/js/works/script.min.js?{{siteinfo.version}}"></script>
{% endblock %}
{% block content %}
<div class="inner">
    <div class="head">
        <ol class="breadcrumb">
            <li>
                <a href="/"><img src="/img/common/home.png" class="icon"></img></a>
            </li>
            <li>
                <a href="/works">制作物</a>
            </li>
        </ol>
        <h1 class="title" data-en="Works">制作物</h1>
    </div>
    <div class="body">
        <div class="search_box">
            <div class="title">分類</div>
            <ol class="tags">
                <li class="tag active"><a href="">全て</a></li>
                <li class="tag"><a href="">ウェブサイト</a></li>
                <li class="tag"><a href="">楽曲</a></li>
            </ol>
        </div>
        <div class="search_box">
            <div class="title">年</div>
            <ol class="tags">
                <li class="tag active"><a href="">全て</a></li>
                <li class="tag"><a href="">2020</a></li>
                <li class="tag"><a href="">2021</a></li>
                <li class="tag"><a href="">2022</a></li>
            </ol>
        </div>
        <div class="cards">
            <div class="container-fluid">
                <div class="row">
                    {% for works_item in works_list %}
                    <div class="col-6 col-tab-6 col-pc-3">
                        <div class="card">
                            <a href="/{{ works_item.kind }}/{{ works_item.slug }}" class="link">
                                <img src="/img/{{ works_item.thumbnail }}" class="thumbnail">
                                <div class="title">{{ works_item.title }}</div>
                            </a>
                            <div class="meta">
                                <a href=""><div class="tag">{{ works_item.tag_name }}</div></a>
                                <div class="date">{{ works_item.updated_date|date('Y/m') }}</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {# <div class="pagenation">
            <a class="prev" href="">«</a>
            <a class="page_number active" href="">1</a>
            <a class="page_number" href="">2</a>
            <a class="page_number" href="">3</a>   
            <span class="dots">...</span>
            <a class="page_number" href="">5</a>
            <a class="next" href="">»</a>
        </div> #}
    </div> 
</div>
{# 
<header class="page_header">
    <h1 class="page_title">Works</h1>
</header>
<div class="page_content">
    <ol class="works_list">
        <li class="item">
            <div class="works" style="background-color: #4a0147;">
                <div class="inner">
                    <a href="" class="link">
                        <span class="title">sample sample sample</span>
                        <img src="https://placekitten.com/300/200" class="image">
                        <div class="meta">
                            <time class="date">2022-02-10</time>
                            <span aria-hidden="true">⋅</span>
                            <span class="tags">GENERAL</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="works" style="background-color: #06624c;">
            <div class="inner">
                <a href="" class="link">
                    <span class="title">sample sample sample</span>
                    <img src="https://placekitten.com/300/200" class="image">
                    <div class="meta">
                        <time class="date">2022-02-10</time>
                        <span aria-hidden="true">⋅</span>
                        <span class="tags">GENERAL</span>
                    </div>
                </a>
            </div>
            </div>
            <div class="works" style="background-color: #000000;">
            <div class="inner">
                <a href="" class="link">
                    <span class="title">sample sample sample</span>
                    <img src="https://placekitten.com/300/200"  class="image">
                    <div class="meta">
                        <time class="date">2022-02-10</time>
                        <span aria-hidden="true">⋅</span>
                        <span class="tags">GENERAL</span>
                    </div>
                </a>
            </div>
            </div>
            <div class="works" style="background-color: #1E2C54;">
            <div class="inner">
                <a href="" class="link">
                    <span class="title">sample sample sample</span>
                    <img src="https://placekitten.com/300/200" class="image">
                    <div class="meta">
                        <time class="date">2022-02-10</time>
                        <span aria-hidden="true">⋅</span>
                        <span class="tags">GENERAL</span>
                    </div>
                </a>
            </div>
            </div>
        </li>
    </ol>
    <div class="works_footer">
        <a href="/" class="see_all">See All posts→</a>
    </div>
</div> #}
{% endblock %}
